global
  log stdout format raw local0
  maxconn 4000
  master-worker

resolvers docker
  nameserver dns1 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 3s
  hold nx 3s
  hold other 3s
  hold refused 3s
  hold timeout 3s
  hold obsolete 3s

defaults
  log global
  mode http
  option httplog
  option dontlognull

  timeout connect 10s
  timeout client 30s
  timeout server 30s

frontend fe_web
  bind *:80

  use_backend stat if { path -i /my-stats }
  default_backend be_nginx_service

backend be_nginx_service
  balance roundrobin

  option httpchk GET /

  server-template nginx- 20 tasks.nginx-service:80 \
    check \
    resolvers docker \
    init-addr libc,none \
    resolve-prefer ipv4

backend stat
  stats enable
  stats uri /my-stats
  stats refresh 15s
  stats show-legends
  stats show-node